









        <!-- START MAIN -->
<div id="addformmodelid_inictial">

  <div class="uk-grid-small uk-child-width-expand@s uk-modal-title" uk-grid>
      <div><strong class="uk-text-uppercase uk-text-left uk-align-bottom">Add Model Form</strong> </div>
      <div class="uk-text-right uk-text-primary uk-text-lead "> <i>add models to your database</i></div>
  </div>

  <div class="uk-heading-divider "></div>

          <!-- Inline form with placeholder -->


          <!--Form Advance-->


<!-- ADD MODEL FORM VARIABLES FOR SQL CALL-->
<!--
Contact Info
firstName, lastName, ageModel,phoneModel, genderModel, emailModel, agencyModels, agencyModelsPersonContact
-->
<!--colapsable MORE CONTACT INFO id tags
addressModel,cityModel,zipcodeModel,countryModel,addressModel2
-->
<!-- Mesaures
heighttName,chesttName,waistModel,hipModel,tshirtModel,jacketlModel,pantsModels,shoeModel
-->
<!-- More Mesaures
hatModel
-->
<!-- Model Pictures id Tags
input-file-faceShot,input-file-mediumShot,input-file-fullbodyShot,input-file-handsShot,input-file-americanShot,input-file-specialShot,
input-file-extraShot,input-file-tattoShot1,input-file-tattoShot2, input-file-profileLeftShot,input-file-profileRightShot
-->
<form id="model_form">
<div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>
  <div class="uk-width-1-1@m">
    <div class="uk-card uk-card-body">
      <h4 class=" header2 uk-text-primary uk-text-bold">CONTACT INFO</h4>
      <div class="uk-grid-small ">

          <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-margin-small-top uk-margin-small-bottom uk-input uk-form-blank uk-width-1-5@m ">
              <input id="firstName" type="text" placeholder="First Name">

            </div>
            <div class="uk-margin-small-top uk-margin-small-bottom uk-input uk-form-blank  uk-width-1-5@m">
              <input id="lastName" type="text" placeholder="Last Name">

            </div>
            <div class="uk-margin-small-top uk-margin-small-bottom uk-input uk-form-blank  uk-width-1-6@m">
              <input id="ageModel" type="number" placeholder="Age">

            </div>
            <div class="uk-margin-small-top uk-margin-small-bottom uk-input uk-form-blank  uk-width-1-6@m">
              <input id="phoneModel" type="text" placeholder="Phone" >

            </div>

            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-4@m">
              <input id="emailModel" type="email" placeholder="Email">

            </div>

            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3@m">
              <input id="agencyModels" type="text" placeholder="Agency">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3@m">
              <input id="agencyModelsPersonContact" type="text" placeholder="Agency Contact">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-6@m">
              <input id="genderModel" type="text" placeholder="Gender">

            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!--colapsable MORE CONTACT INFO-->
<div class=" uk-card uk-card-body uk-width-1-1" uk-grid>
  <div class="input-field uk-width-1-1">
    <ul uk-accordion>
      <li>
        <div class="uk-accordion-title uk-text-primary uk-text-uppercase uk-text-small">More Contact Info</div>
        <div class="uk-accordion-content" >
            <div class="uk-grid">
                <div class="uk-width-1-1">
                      <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-1">
                        <input id="addressModel" type="text" placeholder="Street Address">
                      </div>
                      <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-4">
                        <input id="cityModel" type="text" placeholder="City">
                      </div>
                      <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-4">
                        <input id="zipcodeModel" type="text" placeholder="Zip Code">
                      </div>
                      <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-4">
                        <input id="countryModel" type="text" placeholder="Country">
                      </div>
                </div>
           </div>

                <br/>

      </div>
    </li>
  </ul>
    </div>
  </div>



<hr>
<!-- End Colapsble-->
<!--Mesaures-->
<div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>
  <div class="uk-width-1-1@m">
    <div class="uk-card uk-card-body">

      <h4 class="header2 uk-text-primary">MESAURES</h4>
    <span class="uk-text-small text" > Use Numbers or/and Letters. Example: XXS, XS, S, M, L, XL, XXL, or 32, 34, 36, 38, 40, 42, 44, 46, 48...</span>
      <div class="uk-width-1-1@m">

          <div class="uk-width-1-1@m" uk-grid>

            <div class="uk-margin-small-top uk-input uk-form-blank  uk-width-1-6@m">
              <input id="heighttName" type="text" placeholder="Height">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-6@m">
              <input id="tshirtModel" type="text" placeholder="Height">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-6@m">
              <input id="pantsModels" type="text" placeholder="Pants">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-6@m">
              <input id="shoeModel" type="text" placeholder="Shoe">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-6@m">
              <input id="chesttName" type="text" placeholder="Chest">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-6@m">
              <input id="jacketlModel" type="text" placeholder="Jacket">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-6@m">
              <input id="waistModel" type="text" placeholder="Waist">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-6@m">
              <input id="hipModel" type="text" placeholder="Hip">

            </div>

          </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!--End Mesaures-->
<!--colapsable MORE CONTACT INFO-->
<div class=" uk-card uk-card-body uk-width-1-1" uk-grid>
  <div class="input-field uk-width-1-1">
    <ul uk-accordion>
      <li>
        <div class="uk-accordion-title uk-text-primary uk-text-uppercase uk-text-small">more mesaures</div>
        <div class="uk-accordion-content" >
            <div class="uk-grid">
                      <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-1">
                        <input id="hatModel" type="text" placeholder="Hat">

                      </div>
                    </div>
                  </div>

      </li>
    </ul>
  </div>
</div>
<hr>
<!-- End Colapsble-->
<!-- EYES,HAIR,SKIN -->
<div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>
  <div class="uk-width-1-1@m">
    <div class="uk-card uk-card-body">
      <h4 class="header2 uk-text-primary">EYES, HAIR, SKIN</h4>
        <div class="uk-width-1-1@m" uk-grid>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-4">
              <input id="heighttName" type="text" placeholder="Eyes Color">
            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-4">
              <input id="chesttName" type="text" placeholder="Hair Color">
            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-4">
              <input id="waistModel" type="text" placeholder="Skin Tone">
            </div>
    </div>
  </div>
  </div>
</div>
<hr>
<!--End EYES,HAIR,SKIN-->
<!-- Work Expeirence -->
<div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>
  <div class="uk-width-1-1@m">
    <div class="uk-card uk-card-body">
      <h4 class="header2 uk-text-primary">PORTOFOLIO / WORK EXPIERENCE / STUDIES / PROFESSION / HOBBY</h4>
          <div class="uk-width-1-1@m" uk-grid>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-2">
              <input id="heighttName" type="text" placeholder="Portofolio Link">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-2">
              <input id="heighttName" type="text" placeholder="Social Media">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-2">
              <input id="chesttName" type="text" placeholder="Work Expierence">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-2">
              <input id="waistModel" type="text" placeholder="Studies">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-2">
              <input id="waistModel" type="text" placeholder="Profession">

            </div>
            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-2">
              <input id="waistModel" type="text" placeholder="Hobbies">

            </div>

    </div>
  </div>
  </div>
</div>
<hr>
<!--End Expeirence-->
<!-- Work Skills -->
<div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>
  <div class="uk-width-1-1@m">
    <div class="uk-card uk-card-body">
      <h4 class="header2 uk-text-primary">SPECIAL SKILLS</h4>
    <div class="uk-width-1-1@m" uk-grid>


            <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-1">
              <input id="heighttName" type="text" placeholder="Special Skill">

            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!--End Skills-->
<!-- Work Tattos / Scars -->
<div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>
  <div class="uk-width-1-1@m">
    <div class="uk-card uk-card-body">
      <h4 class="header2 uk-text-primary">SCARS / TATTOS / AMPUTATIONS / GLASSES</h4>
    <div class="uk-width-1-1@m" uk-grid>

          <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
            <input id="heighttName" type="text" placeholder="Tattos">

          </div>
          <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
            <input id="chesttName" type="text" placeholder="Scars">

          </div>
          <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
            <input id="waistModel" type="text" placeholder="Body Prostetics">

          </div>
          <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
            <input id="waistModel" type="text" placeholder="Other">

          </div>
        </div>
      </div>
    </div>
  </div>

<hr>
<!--End Tattos Scars-->
<!-- Start Medical Conditions -->
<div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>
  <div class="uk-width-1-1@m">
    <div class="uk-card uk-card-body">
      <h4 class="header2 uk-text-primary">MEDICAL CONDITIONS</h4>
      <div class="uk-width-1-1@m" uk-grid>

          <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-33">
            <input id="foodlAlergiesModel" type="text" placeholder="Food Alergies">

          </div>
          <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
            <input id="medicalAlergiesModel" type="text" placeholder="Medical Alergies">

          </div>
          <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
            <input id="otherConditionsModel" type="text" placeholder="Other Conditions">

          </div>
          <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
            <input id="emrgencyContactModel" type="text" placeholder="Contact in case of emergency">

          </div>
        </div>
      </div>
    </div>
  </div>

<hr>
<!--End Medical Conditions-->
<!--colapsable MORE CONTACT INFO-->
<div class=" uk-card uk-card-body uk-width-1-1" uk-grid>
  <div class="input-field uk-width-1-1">
    <ul uk-accordion>
      <li>
        <div class="uk-accordion-title uk-text-primary uk-text-uppercase uk-text-small">Other Personal Info </A>(VAT / IBAN / SSN / CC / Driver License)</div>
        <div class="uk-accordion-content" >
            <div class="uk-grid">
              <div class="uk-width-1-1@m" uk-grid>

                      <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
                        <input id="addressModel" type="text" placeholder="ID/CC Number">

                      </div>
                      <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
                        <input id="cityModel" type="text" placeholder="VAT/NIF Number">

                      </div>
                      <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
                        <input id="zipcodeModel" type="text" placeholder="Bank Name">

                      </div>

                    <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
                      <input id="name" type="text" placeholder="IBAN">

                    </div>
                    <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
                      <input id="email" type="text" placeholder="SWIFT/BIC">

                    </div>
                    <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
                      <input id="name" type="text" placeholder="Diver License">

                    </div>
                    <div class="uk-margin-small-top uk-input uk-form-blank uk-width-1-3">
                      <input id="email" type="text" placeholder="Type Of License">

                    </div>
                  </div>
                    </div>
                </div>
                <br/>
              </li>
              <!--Other Personal Info End-->
            </ul>

              </div>
            </div>
<hr>
<!-- End Colapsble-->

<!--Start Import Photo Images-->
<div class=" uk-card uk-card-body uk-width-1-1" uk-grid>
  <div class="input-field uk-width-1-1">
    <ul uk-accordion>
      <li>
        <div class=" uk-accordion-title uk-text-primary uk-text-uppercase uk-text-small">Model Photos</div>
        <div class="uk-accordion-content" >
            <div class="uk-grid">
              <div class="uk-width-1-1@m" uk-grid>


                  <!--file-upload-->
                  <div class="js-upload uk-placeholder uk-text-center uk-margin-small-top uk-form-blank uk-width-1-1">
    <span uk-icon="icon: cloud-upload"></span>
    <span class="uk-text-middle">Drop images here or</span>
    <div uk-form-custom>
        <input type="file" multiple>
        <span class="uk-link">select here</span>
    </div>
</div>
                  </div>
                </div>
              </div>

</li>
</ul>
</div>
</div>
        <!--Other Personal Info Start-->
        <hr>

<!--Start Import Photo Images-->
<div class=" uk-card uk-card-body uk-width-1-1" uk-grid>
  <div class="input-field uk-width-1-1">
    <ul uk-accordion>
      <li>
        <div class="uk-accordion-title uk-text-primary uk-text-uppercase uk-text-small">Model Videos</div>
        <div class="uk-accordion-content" >
            <div class="uk-grid">
              <div class="uk-width-1-1@m" uk-grid>

                      <!--image Profile-->
                      <div class="js-upload uk-placeholder uk-text-center uk-margin-small-top uk-form-blank uk-width-1-1">
                          <span uk-icon="icon: cloud-upload"></span>
                          <span class="uk-text-middle">Drop videos here or</span>
                          <div uk-form-custom>
                              <input type="file" multiple>
                              <span class="uk-link">select here</span>
                          </div>
                      </div>

                      <!--end image Profile-->

                <br/>
              </div>
            </div>
          </div>

      </li>
    </ul>
  </div>
</div>
<hr>
<button class="uk-button-primary uk-button-large uk-align-center uk-text-capitalize uk-text-large"id="submit" type="submit">Submit</button>

<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
</form>









          <!--end form advance-->
      </div>
  </section>
  <!-- END CONTENT -->


  <!-- START RIGHT SIDEBAR NAV-->

  <!-- LEFT RIGHT SIDEBAR NAV-->

  </div>
  <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->


  <!-- START FOOTER -->
  <footer class="uk-footer uk-card uk-card-body uk-width-1-1  background-color-primary  uk-align-center"uk-grid>
<hr>
      <div class="uk-text-center" >

        <span>Copyright © 2018 <a class="uk-text-primary" href="#" target="_blank">PDAVIM</a> All rights reserved.</span><br>
        <span class=""> Design and Developed by <a class="uk-text-primary" href="http://pdavim.com/">Pedro Davim</a></span>

      </div>

  </footer>
  <!-- END FOOTER -->
<hr>


    <!-- ================================================
    Scripts
    ================================================ -->
  <!-- jQuery Library -->


    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>

    <!-- dropify -->
    <script type="text/javascript" src="js/plugins/dropify/js/dropify.min.js"></script>
    <!--prism-->





    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>



<script type="text/javascript">

</script>

  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>


<script src="./views_js/add_model_form.js"></script>



<script>

    var bar = document.getElementById('js-progressbar');

    UIkit.upload('.js-upload', {

        url: '',
        multiple: true,

        beforeSend: function () {
            console.log('beforeSend', arguments);
        },
        beforeAll: function () {
            console.log('beforeAll', arguments);
        },
        load: function () {
            console.log('load', arguments);
        },
        error: function () {
            console.log('error', arguments);
        },
        complete: function () {
            console.log('complete', arguments);
        },

        loadStart: function (e) {
            console.log('loadStart', arguments);

            bar.removeAttribute('hidden');
            bar.max = e.total;
            bar.value = e.loaded;
        },

        progress: function (e) {
            console.log('progress', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        loadEnd: function (e) {
            console.log('loadEnd', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        completeAll: function () {
            console.log('completeAll', arguments);

            setTimeout(function () {
                bar.setAttribute('hidden', 'hidden');
            }, 1000);

            alert('Upload Completed');
        }

    });

</script>
