            /*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.0
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
            /*Custom Style created by .mdi-action-perm-device-info:before
Start
*/
            
            .login-style-custom.lighten-5 {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text.text-lighten-5 {
                color: #37BCD3 !important;
            }
            
            .login-style-custom.lighten-4 {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text.text-lighten-4 {
                color: #37BCD3 !important;
            }
            
            .login-style-custom.lighten-3 {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text.text-lighten-3 {
                color: #37BCD3 !important;
            }
            
            .login-style-custom.lighten-2 {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text.text-lighten-2 {
                color: #37BCD3 !important;
            }
            
            .login-style-custom.lighten-1 {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text.text-lighten-1 {
                color: #78909c !important;
            }
            
            .login-style-custom {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text {
                color: #607d8b !important;
            }
            
            .login-style-custom.darken-1 {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text.text-darken-1 {
                color: #546e7a !important;
            }
            
            .login-style-custom.darken-2 {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text.text-darken-2 {
                color: #455a64 !important;
            }
            
            .login-style-custom.darken-3 {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text.text-darken-3 {
                color: #37474f !important;
            }
            
            .login-style-custom.darken-4 {
                background-color: #37BCD3 !important;
            }
            
            .login-style-custom-text.text-darken-4 {
                color: #263238 !important;
            }
            /*end*/
            /* Style the active class, and buttons on mouse-over */